<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>order-tour</title>
</head>

<body>
  <div class="wrapper">
    <header>
      <a href="/">
        <img src="img/logo.png" alt="logo" class="logo">
      </a>
    </header>
    <section class="steps">
      <div class="step step1">
          <div class="number">
          <span>1</span>
          </div>
          <div class="text"> בחר את הטיול שלך </div>
      </div>
      <div class="step step2 current-step">
          <div class="number">
          <span>2</span>
          </div>
          <div class="text"> בחר תאריך יציאה </div>
      </div>
      <div class="step step3">
          <div class="number">
          <span>3</span>
          </div>
          <div class="text">3 דעצ</div>
      </div>
      <div class="step step4">
          <div class="number">
          <span>4</span>
          </div>
          <div class="text">4 דעצ</div>
      </div>
    </section>
    <h1 class="head"> בחר את הטיול שלך </h1>
  </div>

  <div id="app"></div>

  <div class="wrapper">
    <section class="information" dir="rtl">
      <h3>מידע חשוב להרשמה</h3>
      <p>
          האיסופים לטיולים שלנו מתבצעים לאורך הצירים הראשיים בשכונות קופהקבנה ואיפנמה בלבד, לכל מקום איסוף אחר יש לקבל אישור
          <br>
          פרטני. יש להגיע לנקודת האיסוף שתימסר לכם ליציאה לטיול.נקודות האיסוף הם תמיד במרחק הליכה קצר ממקום הלינה
          <br>
          באיפנמה או קופהקבנה.
      </p>

      <p>
          ריו עיר הסמבה - שעת האיסוף ומקום מדויק מתקבלים עד השעה 00:20 ביום היציאה לטיול
          <br>
          ריו אהובתי - אנו מודיעים את שעת איסוף ומקום מדויק עד 00:12 בערב יום לפני הטיול        
      </p>

      <p>
          לאחר ההרשמה ואישור התשלום, יישלח אישור הרשמה
      </p>

      <p>
          דמי ההרשמה 50 - ריאל ניתנים לביטול עד 24 שעות לפני היציאה לטיול
        <br>
        שינוי תאריך היציאה אינו כרוך בתשלום עד השעה 00:20 בערב, יום לפני היציאה לטיול
      </p>
    </section>
    <footer>
      <img src="img/footer-logo.png" alt="footer logo">
    </footer>
  </div>
  <script>
    var db = {
      '10.10.2018': {
        count_adult: "10",
        count_child: "9",
        price: 200
      },
      '11.10.2018': {
        count_adult: 3,
        count_child: 6,
        price: '350'
      },
      '12.10.2018': {
        count_adult: 8,
        count_child: 11,
        price: 1000
      },
      '02.11.2018': {
        count_adult: 20,
        count_child: 18,
        price: "120"
      }
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script>
   		$(document).ready(function() {            
    		var td = $('#calendar td');
    
    		$(td).on('click', function() {
              $(td).removeClass('active-date');
              
              $(this).addClass('active-date');
        })
      })
  </script>
  <!-- built files will be auto injected -->
</body>

</html>