<template>
    <tr>   
        <td 
            v-for="(d,index) in daysByWeek" 
            :key="index" 
            :class="typeDay(index, currentDate.year, currentDate.month+1, d)" 
            @click="renderData(currentDate.year, currentDate.month+1, d)"
        >
            {{ d }}
        </td>
    </tr>
</template>

<script>
import EventBus from "../event-bus.js"

export default {
    name: 'calendarDays',
    props: {
        daysByWeek: Array, //неделя дней, то есть дни одной недели до ВС        
        parseData: Object,
        currentDate: Object
    },
    methods: {
        typeDay(weekDay, y, m, d) {
            if (d < 10) d = '0' + d;
            if (m < 10) m = '0' + m;
            let key = d + '.' + m + '.' + y;
            let output = weekDay === 6 || weekDay === 5 ? 'holiday' : 'workday'
            
            if (this.parseData[key]) {
                if (this.parseData[key].count_adult || this.parseData[key].count_child) {
                    output = 'busy'
                }
            }
            return output
        },
        renderData(y, m, d) {
            if (d < 10) d = '0' + d;
            if (m < 10) m = '0' + m;
            let key = d + '.' + m + '.' + y;
            let count_adult = 0;
            let count_child = 0;
            let price = 0;
            if (this.parseData[key]) {
                if (this.parseData[key].count_adult) {
                    count_adult = +this.parseData[key].count_adult;
                }

                if (this.parseData[key].count_child) {
                    count_child = +this.parseData[key].count_child;
                }
            }
            EventBus.$emit(
                "transfer_data", { 
                    count_adult: count_adult,
                    count_child: count_child,
                    date_order: key,
                }
            );            
        }
    }
}
</script>