<template>
  <div class="wrapper">
    
    <section class="main">
      <div id="calendar">
        <div class="navigation">
          <div class="prev-month" @click="setPrevMonth">&laquo;</div>
          <div class="current-month"> {{ localizeMonth(current.month) + ' ' + current.year }} </div>
          <div class="next-month" @click="setNextMonth"> &raquo; </div>
        </div>

        <table>
          <thead>
            <th v-for="(day, i) in daysNames" :key="i">{{ day }}</th>
          </thead>
            <tbody>
              <calendar-days 
                v-for="(week, index) in currentMonthArray"
                :key="index"                
                :daysByWeek="week"
                :parse-data="parseData"
                :current-date="current"
              />
            </tbody>
        </table>
      </div>

      <div class="order">
        <header>
          <div class="title">
            <b>Test tour

              <div class="price" style="font-size: 20px; font-family: sans-serif">
                ₪{{ price }} - מחיר
              </div>
            </b>
            
          </div>
          <div class="image">
            <img src="./assets/images/1.jpg" alt="">
          </div>
        </header>
        
        <form method="POST" class="order-form">
          <div class="form-group">
            <h3>בחירת כרטיס</h3>
            <div class="form-group__item">
              <label for="count_adult">מבוגרים</label>
              <div class="select_cont">
                <select required name="count_adult" id="count_adult">
                  <option value=""></option>
                  <option 
                    v-for="ticket in count_adult"
                    :key="ticket">
                    {{ ticket }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group__item">
              <label for="count_child">ילדים</label>
              <div class="select_cont">
                <select required name="count_child" id="count_child">
                  <option value=""></option>
                  <option 
                    v-for="ticket in count_child"
                    :key="ticket">
                    {{ ticket }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">שם הנציג*:</label>
            <input type="text" name="name" required>
          </div>
          <div class="form-group">
            <label for="tourists_name">שמות המטיילים*:</label>
            <input type="text" name="tourists_name" required>
          </div>
          <div class="form-group">
            <label for="whatsapp_number">מספר ווטס אפ*:</label>
            <input type="text" name="whatsapp_number" required>
          </div>
          <div class="form-group">
            <label for="whatsapp_additional_number">מספר ווטס אפ נוסף*:</label>
            <input type="text" name="whatsapp_additional_number">
          </div>
          <div class="form-group">
            <label for="email">אי מייל*:</label>
            <input type="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="residence_place">מקום לינה*:</label>
            <input type="text" name="residence_place" required>
          </div>

          <div class="info">
            <p>
              * שדה חובה
            </p>
            <p>
               מקום לינה - יש לרשום שם בית המלון, או ההוסטל או כתובת הדירה,
            </p>
            <p>
              אם עוד לא ידוע יש לרשום לא.
            </p>
          </div>
          <input type="hidden" name="date_order" value="" v-model="date_order">
          <input type="hidden" name="price" value="">
          <input type="hidden" name="tour_name" value="">
          <button class="button_order" type="submit">
            רותפכ
          </button>
        </form>

      </div>
    </section>

  </div>
</template>

<script>
import calendarDays from "./components/CalendarDays.vue";
import EventBus from "./event-bus.js"

export default {
  name: "app",
  components: {
    calendarDays
  },
  data() {
    return {
      currentMonthArray: [],
      calendarHeader: "",
      countDaysOfMonth: 0,
      parseData: window.db,
      count_adult: 0,
      count_child: 0,
      current: {
        firstWeekDay: 0,
        month: 1,
        year: 2018
      },
      daysNames: "пн вт ср чт пт сб вс".split(" "),
      date_order: ''
    };
  },
  created: function() {
    this.setMonth();
    EventBus.$on("transfer_data", evt => {
      this.count_adult = evt.count_adult;
      this.count_child = evt.count_child;
      this.date_order = evt.date_order;
    });
  },
  methods: {
    createMonthArray(countDaysOfMonth, firstWeekDay) {
      this.currentMonthArray = [];
      const weekLength = 7;
      let countWeeks = this.weeksInMonth(this.current.year, this.current.month);
      let startDay = firstWeekDay === 0 ? 7 : firstWeekDay;
      let oneWeekArray = [];
      let dayCounter = 0;
      for (let week = 0; week < countWeeks; week++) {
        for (let day = 0; day < weekLength; day++) {
          if (week === 0) {
            if (day + 1 < startDay) oneWeekArray[day] = "";
            else {
              dayCounter++;
              oneWeekArray[day] = dayCounter;
            }
          } else {
            dayCounter++;
            if (dayCounter > countDaysOfMonth) oneWeekArray[day] = "";
            else oneWeekArray[day] = dayCounter;
          }
        }
        this.currentMonthArray.push(oneWeekArray);
        oneWeekArray = [];
      }
    },
    weeksInMonth(year, month) {
      var weeks = 1;
      var day = -1;
      for (var i = 1; i <= this.countDaysOfMonth; i++) {
        var newday = new Date(year, month, i).getDay();
        if (day == 0 && newday == 1) {
          weeks += 1;
        }
        day = newday;
      }
      return weeks;
    },
    daysInMonth(year, month) {
      return 33 - new Date(year, month, 33).getDate();
    },
    setPrevMonth() {
      let date = new Date(this.current.year, this.current.month);
      date.setMonth(this.current.month - 1);
      this.setMonth(date.getFullYear(), date.getMonth());
    },
    setNextMonth() {
      let date = new Date(this.current.year, this.current.month);
      date.setMonth(this.current.month + 1);
      this.setMonth(date.getFullYear(), date.getMonth());
    },
    setMonth(year = null, month = null) {
      if (month == null && month !== 0) {
        month = new Date().getMonth();
      }
      let date = new Date(year || new Date().getFullYear(), month);

      this.countDaysOfMonth = this.daysInMonth( date.getFullYear(), date.getMonth() );
      this.current = {
        year: date.getFullYear(),
        month: date.getMonth()
      };
      this.createMonthArray(this.countDaysOfMonth, date.getDay());
    },
    localizeMonth(month) {
      let months = "Январь Февраль Март Апрель Май Июнь Июль Август Сентябрь Октябрь Ноябрь Декабрь".split(
        " "
      );
      return months[month];
    },
    dayToday(num) {
      return new Date().getDate() == num ? "today-day" : "";
    }
  }
};
</script>

<style lang="scss" src="./assets/sass/main.scss">
</style>

