#calendar {
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .current-month {
        font-family: Tahoma;
        font-size: 18px;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }
    .next-month, .prev-month {
        background: #9d9c9c;
        font-size: 30px;
        text-align: center;
        color: #fff;
        border-radius: 4px;
        width: 38px;
        height: 36px;
        font-family: Tahoma, sans-serif;
        cursor: pointer;
        &:hover {
            background: #8b8989;
        }
    }
}

table {
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    border-spacing: 4px;
    user-select: none;
    th {
        text-transform: uppercase;
        padding: 13px 20px 7px;
        color: #fff;
        background: #f1a13f;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        
    }
    td {
        padding: 9px;
        margin: 3px 6px;
        color: #797978;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 700;        
        &:hover {
            background: #f1a13f;
            color: #fff;
            cursor: pointer;
        }
    }
    .holiday {
        background: #d0d0d0;
    }
    .workday {
        background: #e8e8e8;
    }
    .busy {
        background: #367912;
        color: #fff;
    }
    .active-date {
        background: #f1a13f;
        color: #fff;
    }
}