.order {
    width: 55%;    
    header {
        display: flex;
        justify-content: flex-start;
        max-height: 100px;
        margin: 0;
        width: 100%;
        margin-bottom: 20px;
        .title {
            display: flex;
            background-color: #e7e7e7;
            text-align: center;
            color: #565656;
            font-size: 35px;
            font-weight: 700;
            width: 100%;
            flex-grow: 1;
            flex-shrink: 4;
            b {
                margin: auto;
                border-bottom: 2px solid #ccc;
                width: 80%;
                text-align: right
            }
        }
        .image {
            flex-basis: 35%;
            flex-grow: 2;
            flex-shrink: 2;
            margin-left: auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .order-form {
        background-color: #e7e7e7;
        padding: 10px 35px;
        direction: rtl;

        .info {
            p {
                margin: 2px 0;
                font-size: 16px;
            }
        }

        .button_order {
            margin: 10px auto 5px;
            display: block;
            padding: 5px 20px;
        }
    }
}

.form-group {
    display: flex;
    /* justify-content: space-around; */
    justify-content: end;
    margin: 15px 0;
    .form-group__item {
        width: 30%;
    }
    h3 {
        /* margin-left: 75px; */
        margin-left: auto;
        direction: rtl;
        font-family: sans-serif;
    }
    label {
        margin-left: auto;
        font-family: sans-serif;
        font-weight: 200;
    }
    select, input {
        width: 60%;
        height: 34px;
        border: none;
        font-size: 18px;
        background: #fff;
        margin-right: 5px;
    }
    select {
        background: transparent;
        width: 70px; 
        display: block;
        margin-left: 40px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:focus {
            outline: none;
        }
      }
      .select_cont {
        height: 34px;
        width: 70px;
        overflow: hidden;                
        position: relative;
        cursor: pointer;
        background: #fff url('../images/arrow-select.png') left no-repeat;        
      }
       
    input:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }
}