.steps {
    direction: rtl;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.step {
    display: flex;
    align-items: center;  
    .number {
        font-size: 24px;
        color: #fff;
        width: 50px;
        height: 50px;
        background-color: #c5c5c5;
        border-radius: 50%;
        display: flex;
        font-weight: bold;
        font-family: Tahoma, sans-serif;
        span {
            margin: auto
        }
    }
    .text {
        direction: rtl;
        color: #c5c5c5;
        font-weight: bold;
        font-size: 24px;
        margin: 0 10px;     
    }

    &.current-step {
        .text {
            color: #000;
        }
        .number {
            background-color: #00780f;
        }
    }
}