@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

header {
    margin: 30px 0 40px;
    .logo {
        max-height: 92px;
    }
}

@import "steps";


.button_order {
    background-color: #f1a13f;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: #e6912a;
    }
}

h1.head {
    color: #f1a13f;
    font-family: Spacer, sans-serif;
    font-size: 40px;
    font-weight: 700;
    direction: rtl
}

section.main {
    display: flex;
    justify-content: space-between;
}

@import "calendar";

@import "form";

section.information {
    margin-top: 60px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    direction: rtl;
    p {
        direction: rtl;
    }
}

footer {
    margin: 50px 0 30px 0;
    display: flex;
    img {
        margin-left: auto;
        margin-right: 15px;
    }
}

@media (max-width: 1200px) {
    .wrapper {
        max-width: 90%;
    }
}

@media (max-width: 1100px) {
    section.main {
        flex-wrap: wrap;
        justify-content: center;
    }
    #calendar {
        margin-bottom: 20px;
    }
    h1.head {
        text-align: center
    }
    .order {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .steps {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .step {
        margin-bottom: 20px;
    }
}
@media (max-width: 680px) {
    .order {
        width: 100%;
    }
}
@media (max-width: 560px) {
    .form-group {
        flex-wrap: wrap;
        justify-content: space-between;
        input {
            width: 90%;
        }
        label {
            margin-left: unset;
        }
    }
}
@media (max-width: 450px) {
    table {
        font-size: 14px;
        border-spacing: 1.5px;
    }
    .form-group h3 {
        margin-left: unset;
        width: 100%;
        text-align: center
    }
    .form-group__item {

    }
}
@media (max-width: 400px) {
    .logo {
        width: 100%;
    }
}
@media (max-width: 390px) {
    table th {
        padding: 13px 16px 7px;
    }
}